# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#files
auth.yml
telegram.yml
announcements.json
existing_coins.json
scheduled_order.json
executed_trades.json
executed_sells_trades.json